@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/Inter-roman.var.woff2") format("woff2");
}

/* @font-face {
  font-family: "Sarasa Gothic";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/sarasa-fixed-sc-regular.ttf") format("truetype");
} */
