@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
}

@layer components {
  .index-card {
    @apply mt-6 flex h-60 w-60 cursor-pointer select-none flex-col items-center justify-center rounded-xl
    border
    bg-white
    p-6
    text-left
    transition-shadow
    hover:border-none
    hover:bg-sky-50
    hover:text-sky-500
    hover:shadow-lg
    hover:shadow-sky-500/50
    focus:text-sky-500
    dark:border-stone-500
    dark:bg-stone-700
    dark:hover:bg-sky-700
    dark:hover:text-sky-200
    dark:hover:shadow-sky-700/50
    lg:h-96
    lg:w-96;
  }

  .btn {
    @apply flex-center rounded-xl bg-MAIN text-white shadow-lg shadow-MAIN/50 transition-shadow active:shadow-none;
  }
}

/* *::-webkit-scrollbar {
  width: 5px !important;
  height: 5px !important;
}
*::-webkit-scrollbar-corner;
*::-webkit-scrollbar-track {
  background: transparent !important;
}
*::-webkit-resizer;
*::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 3px;
}
*::-webkit-scrollbar-thumb:hover {
  background: #888;
}
* {
  scrollbar-color: #aaa transparent;
  scrollbar-width: thin !important;
} */

.light-up::after {
  content: "";
  position: absolute;
  left: -100px;
  width: 640px;
  height: 1024px;
  background: rgba(27, 178, 237, 0.3);
  filter: blur(200px);
  border-radius: 200px;
  z-index: -1;
}
