@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@theme {
  --color-main: #1bb2ed;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility index-card {
  @apply mt-6 flex h-60 w-60 cursor-pointer select-none flex-col items-center justify-center rounded-xl
    border
    bg-white
    p-6
    text-left
    transition-shadow
    hover:border-none
    hover:bg-sky-50
    hover:text-sky-500
    hover:shadow-lg
    hover:shadow-sky-500/50
    focus:text-sky-500
    dark:border-stone-500
    dark:bg-stone-700
    dark:hover:bg-sky-700
    dark:hover:text-sky-200
    dark:hover:shadow-sky-700/50
    lg:h-96
    lg:w-96;
}

@utility btn {
  @apply flex-center rounded-xl text-white shadow-lg transition-shadow active:shadow-none bg-main shadow-main/50;
}

.light-up::after {
  content: "";
  position: absolute;
  left: -100px;
  width: 640px;
  height: 1024px;
  background: rgba(27, 178, 237, 0.3);
  filter: blur(200px);
  border-radius: 200px;
  z-index: -1;
}
